<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="box-sizing: border-box" #nav>
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/">
			<img
				src="../../assets/images/mugiwara.png"
				alt="NgRx"
				class="d-inline-block align-text-top"
				style="width: auto; height: 40px"
			/>
		</a>

		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav me-auto w-100">
				<li class="nav-item">
					<a class="nav-link" routerLink="/" routerLinkActive="active">Animes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/my-list" routerLinkActive="active">My List</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
